//Google Fonts
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');
$memezingaRed: #e23535;
$main-fontFamily: 'Roboto Condensed';
$tags-fontFamily: 'BADABB';
@font-face {
	font-family: 'BADABB';
	src: url('../fonts/BADABB.eot');
	src: local('BADABB'), url('../fonts/BADABB.woff') format('woff'), url('../fonts/BADABB.ttf') format('truetype');
}

.browserupgrade {
	margin: 0.2em 0;
	background: #ccc;
	color: #000;
	padding: 0.2em 0;
}


/* Space out content a bit */

body {}


/* Custom page header */

.navbar {
	background-color: transparent;
	//opacity: 0.8;
	font-family: $main-fontFamily;
	padding: 20px 50px;
}

.navbar a {
	color: white;
}

.btn {
	border-radius: 25px;
	margin: 0 14px;
	width: 150px;
}

.btn i {
	margin-right: 13px;
}

.home-section {
	background: url(../images/bg_header.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	max-width: 100%;
	height: 80%;
}

.memezinga-logo {
	max-width: 100%;
	margin-top: 80px;
}

.box {
	width: 80%;
	height: 42px;
	position: relative;
	margin: auto;
	margin-top: -21px;
	&:before {
		content: "";
		position: absolute;
		display: block;
		width: 100%;
		height: 4px;
		border-top: 4px dashed black;
		top: 50%;
		transform: translateY(-21%);
	}
}

.main-section {
  margin-bottom: 5em;
}

.main-title {
	font-family: $tags-fontFamily;
	font-size: 4em;
	//margin: 2rem auto;
}

p {
	font-family: $main-fontFamily;
}

.btn-danger {
	background-color: $memezingaRed;
	margin-top: 2.5em;
}


/* Custom page footer */

.main-footer {
	background-color: #333;
	color: white;
	padding: 20px;
	p {
		margin-top: 16px;
		margin-right: 10px;
	}
}


/* Customize container */

@media (min-width: 48em) {
	.container {
		max-width: 46rem;
	}
}

.container-narrow>hr {
	margin: 2rem 0;
}


/* Responsive: Portrait tablets and up */

@media screen and (min-width: 48em) {
	/* Remove the padding we set earlier */
	.header,
	.marketing,
	.footer {
		padding-right: 0;
		padding-left: 0;
	}
	/* Space out the masthead */
	.header {
		margin-bottom: 2rem;
	}
}